body {
  font-family: "Lato", sans-serif;
  /* background-color: #F2D5A0; */
}
footer {
text-align: center;
font-size: 30px;
border-top: 5px  #F27141 solid;
}

/* Home CSS */
.home {
    margin: 0px;
    padding: 0px;
}
.profile {
  width: 40%;
  height: 45%;
  margin-top: 40px;
  margin-left: 40px;

  border: 10px solid rgba(132, 191, 174, 0.742);
}
.pic {
  display: flex;
  align-self: center;
}
.intro {
  width: 45%;
  font-size: 20px;
  display: flex;
  text-align: center;
  color: #F29727;
  float: right;
  padding: 50px;
  flex-wrap: wrap;
  
}
.hello {
    font-size:50px;
    width: 65%;
    padding: 0;
    letter-spacing: 7px;
    animation: wobble 4s both;
}
@keyframes wobble {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(-3.6deg);
    transform: translateX(-15px) rotate(-3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(2.4deg);
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(-1.2deg);
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

/* Work CSS */

.project {
  width: 400px;
  border: 10px solid rgba(242, 180, 174, 0.591);
  animation: shadow-drop-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  margin: 10px;
}
a :hover {
    border-radius: 50%;
}
.childWork {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.click {
  text-align: center;
  font-size: 20px;
}
.my {
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  font-size: 80px;
  padding-top: 20px;
  text-align: center;
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}


/* LAND CSS */

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
}

.welcome {
  padding-left: 200px;
  font-size: 100px;
  color: #84BFAE;
  -webkit-animation: bounce-in-top 2.1s both;
  animation: bounce-in-top 2.1s both;
  letter-spacing: 10px;
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.welcome:after {
  content: "WELCOME";
  display: flex;
  position: absolute;
  top: -10px;
  color: #F2A922;
  
}
.welcome2 {
  display: flex;
  position: absolute;
  top: 150px;
  padding-left: 200px;
  font-size: 100px;
  color: #F29727;
  letter-spacing: 10px;
}

.welcome2:after {
  content: "WELCOME";
  display: flex;
  position: absolute;
  top: 10px;
  color: #F2B4AE;
}
.welcome3 {
    display: flex;
    position: absolute;
    top: 260px;
    padding-left: 200px;
    font-size: 100px;
    color: #F2B4AE;
    letter-spacing: 10px;
    
  }
  
  .welcome3:after {
    content: "WELCOME";
    display: flex;
    position: absolute;
    top: -10px;
    color: #84BFAE;
  }
.links {
    text-decoration: none;
    color:  rgba(242, 112, 65, 0.392);
    padding: 40px;
    animation: slide-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    
}
.links:hover {
    color: #F27141;
}